version: "3.9"

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: fuller_focus_task_development
    ports:
      - "3306:3306"
    command: --wait_timeout=28800 --interactive_timeout=28800 --max_allowed_packet=256M
